* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}
body {
    font-family: 'Didact Gothic', sans-serif; 
    background-color: rgb(118, 8, 8);
}


td{
    justify-content: center;
    text-align: center;
    border-bottom: 1rem;
}
.new_td{
    height: 80px;
    justify-content: center;
    text-align: center;
}
img{
    height: 100%;
    border-radius: 1rem;
}
header{
    background-color:rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(32px);
    position: sticky;
    top: 0;
    z-index: 100;
}
#portada_inicio{
    margin-top: -55.97px;
    height: 100vh;
    width: 100%;
    background: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center center;
}
#descripcion_inicio h4{
    position: absolute;
    top: 10rem;
    left: 2rem;
    width: 50%;
    color: white;  
}
.titulo_productos{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}
.card{
    background-color: #ffc107;
}
.card-body{   
    text-align: center;
}
.btn_item{
    border-radius: 0.5rem;
    font-weight: 800;
    padding: 0.5rem;
}
.card-img-top{
    align-self: center;
    width: 85%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 800;
}
.card-text{
    font-size: 1.2rem;
}
.css_btn{
    color: #000;
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}