* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
}
body {
    font-family: 'Didact Gothic', sans-serif; 
}


td{
    justify-content: center;
    text-align: center;
    border-bottom: 1rem;
}
.new_td{
    height: 80px;
    justify-content: center;
    text-align: center;
}
img{
    height: 100%;
    border-radius: 1rem;
}
#portada_inicio{
    height: 100vh;
    width: 100%;
    background: url(/assets/banner.jpg);
    background-size: cover;
    background-position: center center;
}
.titulo_productos{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}
.card{
    background-color: rgba(70, 69, 69, 0.1);

}
.card-body{   
    text-align: center;
}
.btn_item{
    border-radius: 0.5rem;
    font-weight: 800;
    padding: 0.5rem;
}
.card-img-top{
    align-self: center;
    width: 85%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 800;
}
.card-text{
    font-size: 1.2rem;
}